# Star-Wars API to CSV
A first test to use the star wars API with pandas to create a csv

In [51]:
import numpy as np
import pandas as pd
import requests
import json

url = 'https://swapi.dev/api/'
JSONContent = requests.get(url).json()
content = json.dumps(JSONContent, indent = 4, sort_keys=True)

In [52]:
all_people_list = []
# For each character, we access its information through its API
for x in range(1, 83):
    JSONContent = requests.get('https://swapi.dev/api/people/' + str(x)).json()
    all_people_list.append(JSONContent)                 
people_df = pd.DataFrame(all_people_list)
people_df.tail()

,name,height,mass,hair_color,skin_color,eye_color,birth_year,gender,homeworld,films,species,vehicles,starships,created,edited,url,detail
77,Shaak Ti,178,57,none,"red, blue, white",black,unknown,female,http://swapi.dev/api/planets/58/,"[http://swapi.dev/api/films/5/, http://swapi.d...",[http://swapi.dev/api/species/35/],[],[],2014-12-20T18:44:01.103000Z,2014-12-20T21:17:50.486000Z,http://swapi.dev/api/people/78/,NaN
78,Grievous,216,159,none,"brown, white","green, yellow",unknown,male,http://swapi.dev/api/planets/59/,[http://swapi.dev/api/films/6/],[http://swapi.dev/api/species/36/],[http://swapi.dev/api/vehicles/60/],[http://swapi.dev/api/starships/74/],2014-12-20T19:43:53.348000Z,2014-12-20T21:17:50.488000Z,http://swapi.dev/api/people/79/,NaN
79,Tarfful,234,136,brown,brown,blue,unknown,male,http://swapi.dev/api/planets/14/,[http://swapi.dev/api/films/6/],[http://swapi.dev/api/species/3/],[],[],2014-12-20T19:46:34.209000Z,2014-12-20T21:17:50.491000Z,http://swapi.dev/api/people/80/,NaN
80,Raymus Antilles,188,79,brown,light,brown,unknown,male,http://swapi.dev/api/planets/2/,"[http://swapi.dev/api/films/1/, http://swapi.d...",[],[],[],2014-12-20T19:49:35.583000Z,2014-12-20T21:17:50.493000Z,http://swapi.dev/api/people/81/,NaN
81,Sly Moore,178,48,none,pale,white,unknown,female,http://swapi.dev/api/planets/60/,"[http://swapi.dev/api/films/5/, http://swapi.d...",[],[],[],2014-12-20T20:18:37.619000Z,2014-12-20T21:17:50.496000Z,http://swapi.dev/api/people/82/,NaN

In [53]:
dataset_to_csv = people_df.loc[:, ['name', 'gender', 'height', 'eye_color']].copy()
dataset_to_csv.shape

(82, 4)

In [4]:
# dataset_to_csv.to_csv('star_wars_characters.csv', index=False)

In [5]:
# A list where I store the values from the api that I request below
all_planets_list = []

# First API request and definition of JSONContent variable
planets_url = 'https://swapi.dev/api/planets/?page=1'
JSONContent = requests.get(planets_url).json()

# Looping through the paginated API and storing it's results to all_planets_list
while JSONContent['next']:
    JSONContent = requests.get(JSONContent['next']).json()
    all_planets_list.extend(JSONContent['results'])
# converting the list into a pd.df
planets_df = pd.DataFrame(all_planets_list)

planets_df.head()
# Iterate over the list including an index
#for i, planet in enumerate(all_planets_list):
#    print(i, planet['name'], planet['residents'], planet['population'], planet['url'])

,name,rotation_period,orbital_period,diameter,climate,gravity,terrain,surface_water,population,residents,films,created,edited,url
0,Geonosis,30,256,11370,"temperate, arid",0.9 standard,"rock, desert, mountain, barren",5,100000000000,[http://swapi.dev/api/people/63/],[http://swapi.dev/api/films/5/],2014-12-10T12:47:22.350000Z,2014-12-20T20:58:18.437000Z,http://swapi.dev/api/planets/11/
1,Utapau,27,351,12900,"temperate, arid, windy",1 standard,"scrublands, savanna, canyons, sinkholes",0.9,95000000,[http://swapi.dev/api/people/83/],[http://swapi.dev/api/films/6/],2014-12-10T12:49:01.491000Z,2014-12-20T20:58:18.439000Z,http://swapi.dev/api/planets/12/
2,Mustafar,36,412,4200,hot,1 standard,"volcanoes, lava rivers, mountains, caves",0,20000,[],[http://swapi.dev/api/films/6/],2014-12-10T12:50:16.526000Z,2014-12-20T20:58:18.440000Z,http://swapi.dev/api/planets/13/
3,Kashyyyk,26,381,12765,tropical,1 standard,"jungle, forests, lakes, rivers",60,45000000,"[http://swapi.dev/api/people/13/, http://swapi...",[http://swapi.dev/api/films/6/],2014-12-10T13:32:00.124000Z,2014-12-20T20:58:18.442000Z,http://swapi.dev/api/planets/14/
4,Polis Massa,24,590,0,artificial temperate,0.56 standard,airless asteroid,0,1000000,[],[http://swapi.dev/api/films/6/],2014-12-10T13:33:46.405000Z,2014-12-20T20:58:18.444000Z,http://swapi.dev/api/planets/15/

In [118]:
# Create a df that is a long list of people [['name', 'gender', 'height', 'eye_color']] with their 'home planet' ['name', 'population']
new_df = pd.DataFrame()
def make_mashed_up_df(planets_df, people_df):
    for index, planet_row in planets_df.iterrows():
        for url in planet_row['residents']:
            people_row = people_df.loc[people_df['url'] == url] # I'm assuming that there's only one url per person, and that url is not shared with another person

            # add all the values you want here
            new_row = {}
            new_row['planet'] = planet_row['name']
            new_row['name'] = people_row['name']
            
            new_df.append(new_row, ignore_index = True)


# Call the function
make_mashed_up_df(planets_df, people_df)
new_df.head()

Empty DataFrame
Columns: []
Index: []