# Star-Wars API to CSV
A first test to use the star wars API with pandas to create a csv

In [24]:
import numpy as np
import pandas as pd
import requests
import json

url = 'https://swapi.dev/api/'
JSONContent = requests.get(url).json()
content = json.dumps(JSONContent, indent = 4, sort_keys=True)

In [11]:
all_people_list = []
# For each character, we access its information through its API
for x in range(1, 83):
    JSONContent = requests.get('https://swapi.dev/api/people/' + str(x)).json()
    all_people_list.append(JSONContent)                 
people_df = pd.DataFrame(all_people_list)
people_df.sample(5)

,name,height,mass,hair_color,skin_color,eye_color,birth_year,gender,homeworld,films,species,vehicles,starships,created,edited,url,detail
38,Ric Olié,183,unknown,brown,fair,blue,unknown,male,http://swapi.dev/api/planets/8/,[http://swapi.dev/api/films/4/],[],[],[http://swapi.dev/api/starships/40/],2014-12-19T17:45:01.522000Z,2014-12-20T21:17:50.392000Z,http://swapi.dev/api/people/39/,NaN
2,R2-D2,96,32,n/a,"white, blue",red,33BBY,n/a,http://swapi.dev/api/planets/8/,"[http://swapi.dev/api/films/1/, http://swapi.d...",[http://swapi.dev/api/species/2/],[],[],2014-12-10T15:11:50.376000Z,2014-12-20T21:17:50.311000Z,http://swapi.dev/api/people/3/,NaN
50,Mace Windu,188,84,none,dark,brown,72BBY,male,http://swapi.dev/api/planets/42/,"[http://swapi.dev/api/films/4/, http://swapi.d...",[],[],[],2014-12-20T10:12:30.846000Z,2014-12-20T21:17:50.420000Z,http://swapi.dev/api/people/51/,NaN
51,Ki-Adi-Mundi,198,82,white,pale,yellow,92BBY,male,http://swapi.dev/api/planets/43/,"[http://swapi.dev/api/films/4/, http://swapi.d...",[http://swapi.dev/api/species/20/],[],[],2014-12-20T10:15:32.293000Z,2014-12-20T21:17:50.422000Z,http://swapi.dev/api/people/52/,NaN
29,Wicket Systri Warrick,88,20,brown,brown,brown,8BBY,male,http://swapi.dev/api/planets/7/,[http://swapi.dev/api/films/3/],[http://swapi.dev/api/species/9/],[],[],2014-12-18T11:21:58.954000Z,2014-12-20T21:17:50.369000Z,http://swapi.dev/api/people/30/,NaN

In [3]:
dataset_to_csv = people_df.loc[:, ['name', 'gender', 'height', 'eye_color']].copy()
dataset_to_csv.shape

(82, 4)

In [4]:
# dataset_to_csv.to_csv('star_wars_characters.csv', index=False)

In [80]:
# A list where I store the values from the api that I request below
all_planets_list = []

# First API request and definition of JSONContent variable
planets_url = 'https://swapi.dev/api/planets/?page=1'
JSONContent = requests.get(planets_url).json()

# Looping through the paginated API and storing it's results to all_planets_list
while JSONContent['next']:
    JSONContent = requests.get(JSONContent['next']).json()
    all_planets_list.extend(JSONContent['results'])
# converting the list into a pd.df
planets_df = pd.DataFrame(all_planets_list)

planets_df.head()
# Iterate over the list including an index
#for i, planet in enumerate(all_planets_list):
#    print(i, planet['name'], planet['residents'], planet['population'], planet['url'])

,name,rotation_period,orbital_period,diameter,climate,gravity,terrain,surface_water,population,residents,films,created,edited,url
0,Geonosis,30,256,11370,"temperate, arid",0.9 standard,"rock, desert, mountain, barren",5,100000000000,[http://swapi.dev/api/people/63/],[http://swapi.dev/api/films/5/],2014-12-10T12:47:22.350000Z,2014-12-20T20:58:18.437000Z,http://swapi.dev/api/planets/11/
1,Utapau,27,351,12900,"temperate, arid, windy",1 standard,"scrublands, savanna, canyons, sinkholes",0.9,95000000,[http://swapi.dev/api/people/83/],[http://swapi.dev/api/films/6/],2014-12-10T12:49:01.491000Z,2014-12-20T20:58:18.439000Z,http://swapi.dev/api/planets/12/
2,Mustafar,36,412,4200,hot,1 standard,"volcanoes, lava rivers, mountains, caves",0,20000,[],[http://swapi.dev/api/films/6/],2014-12-10T12:50:16.526000Z,2014-12-20T20:58:18.440000Z,http://swapi.dev/api/planets/13/
3,Kashyyyk,26,381,12765,tropical,1 standard,"jungle, forests, lakes, rivers",60,45000000,"[http://swapi.dev/api/people/13/, http://swapi...",[http://swapi.dev/api/films/6/],2014-12-10T13:32:00.124000Z,2014-12-20T20:58:18.442000Z,http://swapi.dev/api/planets/14/
4,Polis Massa,24,590,0,artificial temperate,0.56 standard,airless asteroid,0,1000000,[],[http://swapi.dev/api/films/6/],2014-12-10T13:33:46.405000Z,2014-12-20T20:58:18.444000Z,http://swapi.dev/api/planets/15/

In [78]:
# Merge the people_df with the planets_df for one df of people with the names and population of their home planet